version: '3.8'

services:
  telegram-bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: downloader_bot
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3000:3000"
    expose:
      - "3000"
    volumes:
      - .:/usr/src/app
    networks:
      - bot-network

networks:
  bot-network:
    driver: bridge
